:root {
  --canvas-width: 960px;
  --square-width: 10px;
  --square-color: rgb(194, 95, 95);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(255, 248, 248);
}

.eas {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.canvas {
  display: flex;
  width: var(--canvas-width);
  height: var(--canvas-width);
  flex-wrap: wrap;
  box-shadow: 0px 0px 15px 1px rgb(138, 138, 138);
}

.eas__canvas {
  margin: 32px;
}

.square {
  width: var(--square-width);
  height: var(--square-width);
  background-color: white;
  border-right: 0.01px dotted rgb(243, 243, 243);
  border-bottom: 0.01px dotted rgb(243, 243, 243);
}

.draw {
  background-color: var(--square-color);
}
